#appointments-form {
    border: solid;
    padding: 20px;
    margin: 20px;
    min-width: 300px;
}

#appointment-form-options * {
    padding: 20px;
}

#appointment-form-options {
    display: flex;
    justify-content: space-between;
}