#header {
    height: 80px;
    background: #333;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#header-stuff {
    display: flex;
    color: white;
}

#header-stuff p,
a {
    padding: 20px;
    align-items: center;
}

#site-title {
    font-size: 1.5em;
    font-weight: bold;
}

#header a {
    color: white;
}

select {
    margin-left: 5px;
}